<p-dataView #dv [value]="products" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="url"
    [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
                        (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Search"
                            (input)="dv.filter($event.target.value)">
                    </div>
                </div>
                <div class="ui-g-6 ui-md-4" style="text-align:right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-product pTemplate="listItem">
        <div class="ui-g-12">
            <div class="row">
                <div class="col-sm-8">
                    <div class="ui-g">
                        <div class="ui-g-12">{{product.url}}</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button pButton type="button" icon="pi pi-search" (click)="selectProduct($event, product)"></button>
                </div>
                <div class="col-sm-2">
                    <a (click)="deleteProduct(product.id)" class="text-danger">Delete</a>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel [header]="product.url" [style]="{'text-align':'center'}">
                <!-- <div class="car-detail">{{product.url}}</div> -->
                <hr class="ui-widget-content" style="border-top:0">
                <button pButton type="button" icon="pi pi-search" (click)="selectProduct($event, product)"
                    style="margin-top:0"></button>
                <a (click)="deleteProduct(product.id)" class="text-danger">Delete</a>
            </p-panel>
        </div>
    </ng-template>
</p-dataView>

<p-dialog header="Preview" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [style]="{width: '800px'}" (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="selectedProduct">
        <iframe [src]="selectedProduct.url" width="800" height="600" allowfullscreen></iframe>
    </div>
</p-dialog>